// Job paramaters to set for this environment

params.outdir = "output" 

// Process setting

process {

  // Global cluster parameters

  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  withName:'FILTERREADS|CLEANPEREADS|CLEANSEREADS' {
	cpus = { check_max( params.max_cpus * task.attempt, 'cpus' ) }
  	memory = { check_max( 32.GB * task.attempt, 'memory' ) }
  	time = { check_max( 48.h * task.attempt, 'time' ) }
  }
  withName:TRIMREADS {
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 48.h * task.attempt, 'time' ) }
  }
  
  withName: FASTQC {
	cpus = { check_max( 8 * task.attempt, 'cpus' ) }
      memory = { check_max( 8.GB * task.attempt, 'memory' ) }
      time = { check_max( 16.h * task.attempt, 'time' ) }
  }

  withName:METAPHLAN {
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 16.h * task.attempt, 'time' ) }
  } 
  withLabel:bbmap {
	      cpus = { check_max( 8 * task.attempt, 'cpus' ) }
	      time = { check_max( 12.h * task.attempt, 'time' ) }
  }
  withLabel:bowtie2 {
        cpus = { check_max( params.max_cpus * task.attempt, 'cpus' ) }
  	    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
  	    time = { check_max( 48.h * task.attempt, 'time' ) }
	      //container = "docker://quay.io/biocontainers/bowtie2:2.4.2--py38h1c8e9b9_1"
  }
  withLabel:'Megahit' {
        cpus = { check_max( 16 * task.attempt, 'cpus' ) }
  	    memory = { check_max( 128.GB * task.attempt, 'memory' ) }
  	    time = { check_max( 72.h * task.attempt, 'time' ) }
  }

  withLabel:metabat2 {
        cpus = { check_max( 16 * task.attempt, 'cpus' ) }
  	    memory = { check_max( 64.GB * task.attempt, 'memory' ) }
  	    time = { check_max( 72.h * task.attempt, 'time' ) }
  }
  withLabel:checkm {
        cpus = { check_max( 16 * task.attempt, 'cpus' ) }
  	    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
  	    time = { check_max( 48.h * task.attempt, 'time' ) }
  }
  withLabel:gtdbtk {
          cpus = { check_max( 16 * task.attempt, 'cpus' ) }
  	    memory = { check_max( 250.GB * task.attempt, 'memory' ) }
  	    time = { check_max( 168.h * task.attempt, 'time' ) }
  }
  withLabel: humann {
	cpus = { check_max( 16 * task.attempt, 'cpus') }
	memory = { check_max( 64.GB * task.attempt, 'memory') }
	time = { check_max( 24.h * task.attempt, 'time') }
	}
  withLabel: multiqc {
	container = "docker://quay.io/biocontainers/multiqc:1.9--pyh9f0ad1d_0"
  }
  withLabel:kraken {
      container = "docker://quay.io/biocontainers/kraken2:2.0.8_beta--pl526hc9558a2_1"
  }
  /*
    withName:runSample2Markers {
	      cpus = { check_max( 8 * task.attempt, 'cpus' ) }
        time = { check_max( 6.h * task.attempt, 'time' ) }
  }

  withLabel:'metaphlan' {
	      //container = "docker://quay.io/biocontainers/metaphlan:3.0--pyh5ca1d4c_4"
  }
  withLabel:fastqc {
	      //container = "docker://quay.io/biocontainers/fastqc:0.11.9--0"
  }

  withLabel:biobloom {
        container = 'ikmb/virus-pipe:latest'
  }
*/  
}


