//Change this file to your own custom values before running this pipeline!

// Job paramaters to set for this environment

params {
  //Scratch

  scratch = false

  // Software DB locations

  metaphlan_db = "/dpool/ewacker/metagenomics/metagenomic-workflows/databases/metaphlan4"

  kraken2_db = "/dpool/ewacker/metagenomics/metagenomic-workflows/databases/kraken2"

//TODO: CHANGE THIS for a permanently solution:
  humann_db = "${baseDir}/databases/humann"

  //humann_db_test = "${params.humann_db}/uniref/uniref90_201901b_full.dmnd"

  gtdbtk_reference = "/dpool/ewacker/metagenomics/metagenomic-workflows/databases/GTDB-TK/release207_v2"


	'genomes' {
		'human' {
			bowtie_index = "/dpool/ewacker/metagenomics/metagenomic-workflows/databases/human/GRCh38_noalt_decoy_as/GRCh38_noalt_decoy_as"
		}
        /*
		'mouse' {
			bowtie_index = "/work_beegfs/ikmb_repository/references/iGenomes/references/Mus_musculus/Ensembl/GRCm38/Sequence/Bowtie2Index/genome"
		}
		'chimp' {
			bowtie_index = "/work_beegfs/ikmb_repository/references/iGenomes/references/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/Bowtie2Index/genome"
		}
        */
	}
  // Defaults only, expecting to be overwritten
  max_memory = 1300.GB
  max_cpus = 62
  max_time = 48.h
  maxMultiqcEmailFileSize = 25.MB
}

//Defaults for each process:
process {
    executor='local'
}

//Default for total execution, remove this part when not executor='local':
executor {
  cpus = 64
  memory = 500.GB
}

singularity {
	enabled = true
	runOptions = "-B /dpool -B /home"
	cacheDir = "/dpool/singularity-cache"
}
