//Change this file to your own custom values before running this pipeline!

// Job paramaters to set for this environment

params {
  //Scratch

  scratch = false

  // Software DB locations

  metaphlan_db = "${baseDir}/databases/metaphlan4/4.0"


  //kraken2_db = "/work_beegfs/ikmb_repository/databases/Kraken2/k2_viral_20210517"
//TODO: CHANGE THIS for a permanently solution:
  humann_db = "${baseDir}/databases/humann"

  //humann_db_test = "${params.humann_db}/uniref/uniref90_201901b_full.dmnd"

  gtdbtk_reference = "${baseDir}/databases/GTDB-TK"


	'genomes' {
		'human' {
			//bowtie_index = "/work_beegfs/ikmb_repository/references/iGenomes/references/Homo_sapiens/Ensembl/GRCh37/Sequence/Bowtie2Index/genome"
			//bowtie_index = "/work_beegfs/sukmb465/NXF/rescources/bowtie2/GRCh38_noalt_as/GRCh38_noalt_as"
			bowtie_index = "${baseDir}/databases/human/GRCh38_noalt_decoy_as/GRCh38_noalt_decoy_as"
		}
        /*
		'mouse' {
			bowtie_index = "/work_beegfs/ikmb_repository/references/iGenomes/references/Mus_musculus/Ensembl/GRCm38/Sequence/Bowtie2Index/genome"
		}
		'chimp' {
			bowtie_index = "/work_beegfs/ikmb_repository/references/iGenomes/references/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/Bowtie2Index/genome"
		}
        */
	}
  // Defaults only, expecting to be overwritten
  max_memory = 300.GB
  max_cpus = 32
  max_time = 48.h
  maxMultiqcEmailFileSize = 25.MB
}

/*
process {
    executor='local'
    cpus = 64
    memory = 1200.GB
    time=48.h
}
*/

singularity {
	enabled = true
	runOptions = "-B /dpool"
	cacheDir = "/dpool/ewacker/metagenomics/singularity_cache"
}

profiles {
	local {
		executor.name= "local"
		executor.cpus=64
		}
	}
	


// Job paramaters to set for this environment

params.outdir = "output" 

// Process setting

process {
  shell = ['/bin/bash', '-euo', 'pipefail']

  errorStrategy = { task.attempt <= 3 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

// Specific cluster parameters for each process

withLabel: 'local_run' {
    cpus = { check_max( 1 * task.attempt, 'cpus' ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
    container = "docker://ikmb/metagenome:devel"
  }

  withLabel: 'default' {
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
    container = "docker://ikmb/metagenome:devel"
  }

  withLabel: 'default_highmemory' {
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 64.GB * (2**(task.attempt-1)), 'memory' ) }
    time = { check_max( 24.h * task.attempt, 'time' ) }
    container = "docker://ikmb/metagenome:devel"
  }

  withLabel: 'fastqc' {
	  cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
    container = "docker://quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1"
  }

  withLabel: 'metaphlan' {
    cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
    time = { check_max( 16.h * task.attempt, 'time' ) }
    container = "docker://ikmb/metagenome:devel"
  }

  withLabel: 'bbmap' {
	  cpus = { check_max( 12 * task.attempt, 'cpus' ) }
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
	  time = { check_max( 12.h * task.attempt, 'time' ) }
    container = "docker://quay.io/biocontainers/bbmap:39.00--h5c4e2a8_0"
  }

  withLabel: 'bowtie2qc' {
	  cpus = { check_max( 12 * task.attempt, 'cpus' ) }
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
	  time = { check_max( 12.h * task.attempt, 'time' ) }
    container = "docker://ikmb/metagenome:devel"
  }

  withLabel: 'vamb' {
	  cpus = { check_max( 12 * task.attempt, 'cpus' ) }
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
	  time = { check_max( 24.h * task.attempt, 'time' ) }
    container = "docker://quay.io/biocontainers/vamb:3.0.2--py36h91eb985_2"
  }

  withLabel: 'bowtie2' {
    cpus = { check_max( 12 * task.attempt, 'cpus' ) }
  	memory = { check_max( 64.GB * task.attempt, 'memory' ) }
  	time = { check_max( 48.h * task.attempt, 'time' ) }
    container = "docker://ikmb/metagenome:devel"
	  //container = "docker://quay.io/biocontainers/bowtie2:2.4.2--py38h1c8e9b9_1"
  }

  withLabel: 'megahit' {
    cpus = { check_max( 12 * task.attempt, 'cpus' ) }
  	memory = { check_max( 128.GB * task.attempt, 'memory' ) }
  	time = { check_max( 72.h * task.attempt, 'time' ) }
    container = "docker://quay.io/biocontainers/megahit:1.2.9--h2e03b76_1"
  }

  withLabel: 'metabat2' {
    cpus = { check_max( 12 * task.attempt, 'cpus' ) }
  	memory = { check_max( 64.GB * task.attempt, 'memory' ) }
  	time = { check_max( 72.h * task.attempt, 'time' ) }
    container = "docker://ikmb/metagenome:devel"
  }

  withLabel: 'checkm' {
    cpus = { check_max( 12 * task.attempt, 'cpus' ) }
  	memory = { check_max( 80.GB * task.attempt, 'memory' ) }
  	time = { check_max( 72.h * task.attempt, 'time' ) }
    container = "docker://quay.io/biocontainers/checkm-genome:1.1.3--py_1"
    maxForks = 5
  }

  withLabel: 'gtdbtk' {
    cpus = { check_max( 12 * task.attempt, 'cpus' ) }
  	memory = { check_max( 64.GB * task.attempt, 'memory' ) }
  	time = { check_max( 168.h * task.attempt, 'time' ) }
    container = "docker://quay.io/biocontainers/gtdbtk:2.1.1--pyhdfd78af_1"
  }

  withLabel: 'humann' {
	  cpus = { check_max( 12 * task.attempt, 'cpus') }
	  memory = { check_max( 64.GB * (2**(task.attempt-1)), 'memory') }
	  time = { check_max( 24.h * task.attempt, 'time') }
    container = "docker://ikmb/metagenome:devel"
	}

  withLabel: 'multiqc' {
    cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
	  container = "docker://quay.io/biocontainers/multiqc:1.13--pyhdfd78af_0"
  }

  withLabel: 'kraken' {
    container = "docker://quay.io/biocontainers/kraken2:2.1.2--pl5321h9f5acd7_2"
    cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 64.GB * task.attempt, 'memory' ) }
    time = { check_max( 16.h * task.attempt, 'time' ) }
  }

  withLabel: 'bracken' {
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    time = { check_max( 16.h * task.attempt, 'time' ) }
    container = "docker://quay.io/biocontainers/bracken:2.8--py27hc30c61c_0"
  }

  withLabel: 'magscot' {
    cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
    time = { check_max( 16.h * task.attempt, 'time' ) }
    container = "docker://ikmb/magscot:1.0.0"
  }

  withLabel: 'maxbin2' {
    cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  	memory = { check_max( 32.GB * task.attempt, 'memory' ) }
  	time = { check_max( 24.h * task.attempt, 'time' ) }
    container = "docker://quay.io/biocontainers/maxbin2:2.2.7--h87f3376_4"
  }
 
  withLabel: 'concoct' {
    cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  	memory = { check_max( 32.GB * task.attempt, 'memory' ) }
  	time = { check_max( 24.h * task.attempt, 'time' ) }
    container = "docker://ikmb/metagenome:devel"
    //container = "docker://quay.io/biocontainers/concoct:1.1.0--py310h07c81ac_3"
  }


  // Global cluster parameters

    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
}