//Change this file to your own custom values before running this pipeline!

// Job parameters to set for this environment

params {


  // Software DB locations, UNCOMMENT AND CHANGE THEM


  //metaphlan_db = "${baseDir}/databases/Metaphlan/4.0"
  
  //kraken2_db = "${baseDir}/databases/Kraken2/k2_viral_20210517"

  //humann_db = "${baseDir}/databases/Humann3/3.6" 

  //gtdbtk_reference = "${baseDir}/databases/GTDB-TK/release207_v2"

	'genomes' {
		'human' {
      //bowtie_index = "${baseDir}/databases/human/GRCh38_noalt_decoy_as/GRCh38_noalt_decoy_as"
		}
	}

  // MAXIMUM PER PROCESS CONFIGS, CHANGE THEM TO YOUR HARDWARE SPECS
  max_memory = 300.GB
  max_cpus = 32
  max_time = 48.h
  maxMultiqcEmailFileSize = 25.MB  
  
  //Scratch
  scratch = false
}

singularity {
	enabled = true

  // Singularity configs, CHANGE THEM TO YOUR USED FILESYSTEM AND SINGULARTIY CACHE
	runOptions = "-B /dpool"
	cacheDir = "/someuser/path/to/singularity_cache"
}


//Defaults for each process:
process {
  //Default executor for each process:
  executor='local'
}


executor {
  //Default for total execution, remove this part when not executor='local':
  cpus = 32
  memory = 300.GB
}

// EXAMPLE FOR SLURM QUEUE MANAGER:
//executor {
  //name="slurm"
  //queueSize=35
  //queue = 'all'
//}
