params{
	//project information, update these parameters with run call
	project_id                      = null
	location                        = 'europe-west3'
	workdir_bucket                  = null
	use_spot                        = true
	boot_disk                       = '120 GB'
	workers_service_account         = null


	//networking
	//use_private_ip                  = true
}

workDir                             = params.workdir_bucket

// update process execution to run with google batch, use custom container for sylph high-throughput-mode
process {
	executor = 'google-batch'
	withLabel: 'local_run' {
		executor = 'google-batch'
	}

	withLabel: 'local_download' {
		executor = 'google-batch'
		container = 'eikematthias/shtt:devel'
	maxForks = 1000
	cpus = 1
	memory = 4.GB
	}

	withLabel: 'sylph_sketch' {
		cpus = 1
		memory = 4.GB
		time = 3.h
		container = 'eikematthias/shtt:devel'
	}

	withLabel: 'sylph_profile' {
		cpus = 1
		memory = 4.GB
		time = 2.h
		container = 'eikematthias/shtt:devel'
	}

	withLabel: 'googlecontainer' {
		container = 'eikematthias/shtt:devel'
	}

	maxRetries = 3
	errorStrategy = { task.exitStatus in [14] ? 'retry' : task.attempt <= maxRetries  ? 'retry' : 'ignore' }  
}

google {
	location                        = params.location
	project                         = params.project_id
	//batch.usePrivateAddress         = params.use_private_ip
	batch.spot                      = params.use_spot
	batch.serviceAccountEmail       = params.workers_service_account
	batch.bootDiskSize              = params.boot_disk
}
