params{
    //project
    project_id                      = null
    location                        = 'europe-west3'
    workdir_bucket                  = null
    use_spot                        = true
    boot_disk                       = '100 GB'
    workers_service_account         = null
    use_private_ip                  = false
}

workDir                             = params.workdir_bucket

process {
  executor = 'google-batch'
  withLabel: 'local_run' {
		executor = 'google-batch'
	}
  withLabel: 'local_download' {
		executor = 'google-batch'
		container = 'eikematthias/shtt:devel'
    maxForks = 1000
    cpus = 1
    memory = 4.GB
	}
  	withLabel: 'sylph_sketch' {
		cpus = 1
		memory = 4.GB
		time = 3.h
		container = 'eikematthias/shtt:devel'
	}

	withLabel: 'sylph_profile' {
		cpus = 1
		memory = 4.GB
		time = 1.h
		container = 'eikematthias/shtt:devel'
	}

  withLabel: 'googlecontainer' {
    container = 'eikematthias/shtt:devel'
  }

  errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
  maxRetries = 3
}

google {
    location                        = params.location
    project                         = params.project_id
    batch.usePrivateAddress         = params.use_private_ip
    batch.spot                      = params.use_spot
    batch.serviceAccountEmail       = params.workers_service_account
    batch.bootDiskSize              = params.boot_disk
}
