
// Job paramaters to set for this environment

params.outdir = "output" 

// Software locations

params.metaphlan_pkl = "/mnt/ld_ng_out/sukmb352/references/metaphlan/mpa_v20_m200.pkl"
params.metaphlan_db = "/mnt/ld_ng_out/sukmb352/references/metaphlan//mpa_v20_m200"

params {
	'genomes' {
		human = "/mnt/ld_ng_out/sukmb352/references/iGenomes/references/Homo_sapiens/Ensembl/GRCh37/Sequence/BWAIndex/genome.fa"
		mouse = "/mnt/ld_ng_out/sukmb352/references/iGenomes/references/Mus_musculus/Ensembl/GRCm38/Sequence/BWAIndex/genome.fa"
		chimp = "/mnt/ld_ng_out/sukmb352/references/iGenomes/references/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/BWAIndex/genome.fa"
	}
}

// Resource manager settings

executor {
  name="slurm"
  queueSize=50
}

// Process setting

process {

  // Global cluster parameters
  executor = 'slurm'
  queue = 'htc'

}

singularity {
	enabled = true
	runOptions = "-B /mnt"
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 250.GB
  max_cpus = 20
  max_time = 240.h
  maxMultiqcEmailFileSize = 25.MB
}

