//Change this file to your own custom values before running this pipeline!

// Job paramaters to set for this environment



//Scratch

params.scratch = false

// Software locations

params.metaphlan_db = "/work_ifs/ikmb_repository/databases/Metaphlan/3.0"
params.metaphlan_db_test = "${params.metaphlan_db}/mpa_v30_CHOCOPhlAn_201901.1.bt2"
params.kraken2_db = "/work_ifs/ikmb_repository/databases/Kraken2/k2_viral_20210517"
//TODO: CHANGE THIS for a permanently solution:
//params.humann_db = "/work_ifs/sukmb465/NXF/databases/humann30"
params.humann_db = "/work_ifs/ikmb_repository/databases/Humann3/3.0"

params.humann_db_test = "${params.humann_db}/uniref/uniref90_201901.dmnd"

params.gtdbtk_reference = "/work_ifs/ikmb_repository/databases/GTDB-TK/release207"

params {
	'genomes' {
		'human' {
			//bowtie_index = "/work_ifs/ikmb_repository/references/iGenomes/references/Homo_sapiens/Ensembl/GRCh37/Sequence/Bowtie2Index/genome"
			//bowtie_index = "/work_ifs/sukmb465/NXF/rescources/bowtie2/GRCh38_noalt_as/GRCh38_noalt_as"
			bowtie_index = "/work_ifs/sukmb276/Metagenomes/reference_data/host_contam/GCF_000001405.39/bowtie2_index/GCF_000001405.39"
		}
		'mouse' {
			bowtie_index = "/work_ifs/ikmb_repository/references/iGenomes/references/Mus_musculus/Ensembl/GRCm38/Sequence/Bowtie2Index/genome"
		}
		'chimp' {
			bowtie_index = "/work_ifs/ikmb_repository/references/iGenomes/references/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/Bowtie2Index/genome"
		}
	}
}

process {
    executor='local'
    cpus = 32
    memory = 200.GB
    time=48.h
}

/*
singularity {
	enabled = true
	//runOptions= "-B /home/sukmb465"
	cacheDir = "$baseDir/cache"
} 
*/

singularity {
	enabled = true
	runOptions = "-B /work_ifs -B /scratch"
	cacheDir = "/work_ifs/ikmb_repository/singularity_cache"
}

profiles {
	local {
		executor.name= "local"
		executor.quieSize=100
		executor.cpus=16
		}
	}
	
params {
  // Defaults only, expecting to be overwritten
  max_memory = 16.GB
  max_cpus = 4
  max_time = 24.h
  maxMultiqcEmailFileSize = 25.MB
}

// Job paramaters to set for this environment

params.outdir = "output" 

// Process setting

process {

  errorStrategy = { task.attempt <= 3 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

    withName:'FILTERREADS_PE|FILTERREADS_SE|CLEANREADS_PE|CLEANREADS_SE' {
	cpus = { check_max( 16 * task.attempt, 'cpus' ) }
  	memory = { check_max( 32.GB * task.attempt, 'memory' ) }
  	time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  
  withName:'TRIMREADS' {
    cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }

  withName: 'FASTQC_raw|FASTQC_clean' {
	  cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }

  withLabel: 'metaphlan' {
    cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
    time = { check_max( 16.h * task.attempt, 'time' ) }
  }

  withLabel: 'bbmap' {
	  cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
	  time = { check_max( 12.h * task.attempt, 'time' ) }
  }

  withLabel: 'bowtie2' {
    cpus = { check_max( 16 * task.attempt, 'cpus' ) }
  	memory = { check_max( 64.GB * task.attempt, 'memory' ) }
  	time = { check_max( 48.h * task.attempt, 'time' ) }
	  //container = "docker://quay.io/biocontainers/bowtie2:2.4.2--py38h1c8e9b9_1"
  }

  withLabel: 'megahit' {
    cpus = { check_max( 16 * task.attempt, 'cpus' ) }
  	memory = { check_max( 128.GB * task.attempt, 'memory' ) }
  	time = { check_max( 72.h * task.attempt, 'time' ) }
  }

  withLabel: 'metabat2' {
    cpus = { check_max( 16 * task.attempt, 'cpus' ) }
  	memory = { check_max( 64.GB * task.attempt, 'memory' ) }
  	time = { check_max( 72.h * task.attempt, 'time' ) }
  }

  withLabel: 'checkm' {
    cpus = { check_max( 16 * task.attempt, 'cpus' ) }
  	memory = { check_max( 150.GB * task.attempt, 'memory' ) }
  	time = { check_max( 72.h * task.attempt, 'time' ) }
    container = "docker://quay.io/biocontainers/checkm-genome:1.1.3--py_1"
    maxForks = 5
  }

  withLabel: 'gtdbtk' {
    //container = "ecogenomic/gtdbtk:2.0.0"
    cpus = { check_max( 16 * task.attempt, 'cpus' ) }
  	memory = { check_max( 250.GB * task.attempt, 'memory' ) }
  	time = { check_max( 168.h * task.attempt, 'time' ) }
    maxForks = 5
  }

  withLabel: 'humann' {
	  cpus = { check_max( 16 * task.attempt, 'cpus') }
	  memory = { check_max( 64.GB * task.attempt, 'memory') }
	  time = { check_max( 24.h * task.attempt, 'time') }
	}

  withLabel: 'multiqc' {
	  container = "docker://quay.io/biocontainers/multiqc:1.12--pyhdfd78af_0"
  }

  withLabel: 'kraken' {
    container = "docker://quay.io/biocontainers/kraken2:2.1.2--pl5321h9f5acd7_2"
    cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 64.GB * task.attempt, 'memory' ) }
    time = { check_max( 16.h * task.attempt, 'time' ) }
  }

  withLabel: 'bracken' {
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    time = { check_max( 16.h * task.attempt, 'time' ) }
  }

  // Global cluster parameters

    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
}