
// Job paramaters to set for this environment

params {
	// SCRATCH
	scratch = true

	// Software DB locations
	//metaphlan_db = "/work_beegfs/ikmb_repository/databases/Metaphlan/3.1"
	metaphlan_db = "/work_beegfs/ikmb_repository/databases/Metaphlan/4.0"
	metaphlan_db_test = "${params.metaphlan_db}/mpa_v31_CHOCOPhlAn_201901.1.bt2"
	kraken2_db = "/work_beegfs/ikmb_repository/databases/Kraken2/k2_viral_20210517"
	//TODO: CHANGE THIS for a permanently solution:
	humann_db = "/work_beegfs/ikmb_repository/databases/Humann3/3.6"

	humann_db_test = "${params.humann_db}/uniref/uniref90_201901b_full.dmnd"

	gtdbtk_reference = "/work_beegfs/ikmb_repository/databases/GTDB-TK/release207_v2"

	//reference genomes for host removal
	'genomes' {
		'human' {
			bowtie_index = "/work_beegfs/ikmb_repository/references/iGenomes/references/Homo_sapiens/NCBI/GRCh38Decoy/Sequence/Bowtie2Index/genome"
		}
		'mouse' {
			bowtie_index = "/work_beegfs/ikmb_repository/references/iGenomes/references/Mus_musculus/Ensembl/GRCm38/Sequence/Bowtie2Index/genome"
		}
		'chimp' {
			bowtie_index = "/work_beegfs/ikmb_repository/references/iGenomes/references/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/Bowtie2Index/genome"
		}
	}

	// Defaults only, expecting to be overwritten
  	max_memory = 200.GB
  	max_cpus = 20
  	max_time = 240.h
  	maxMultiqcEmailFileSize = 25.MB
}

// Resource manager settings

executor {
  name="slurm"
  queueSize=15
}

// Process setting

process {

  // Global cluster parameters
  executor = 'slurm'
  queue = 'all'

}

singularity {
	enabled = true
	runOptions = "-B /work_ifs -B /scratch -B /work_beegfs"
	cacheDir = "/work_beegfs/ikmb_repository/singularity_cache"
	//cacheDir = "/work_beegfs/sukmb465/singularity-cache"
}
