
// Job paramaters to set for this environment



//Scratch
params.scratch = true

// Software locations

params.metaphlan_db = "/work_ifs/ikmb_repository/databases/Metaphlan/3.0"
params.metaphlan_db_test = "${params.metaphlan_db}/mpa_v30_CHOCOPhlAn_201901.1.bt2"
params.kraken2_db = "/work_ifs/ikmb_repository/databases/Kraken2/2020-03_viruses"
//TODO: CHANGE THIS for a permanently solution:
params.humann_db = "/work_ifs/sukmb465/NXF/databases/humann"
params.humann_db_test = "${params.humann_db}/uniref/uniref90_201901.dmnd"

params.GTDBTKreference = "/work_ifs/sukmb465/metagenomic-profiling/databases/release202"

params {
	'genomes' {
		'human' {
			//bowtie_index = "/work_ifs/ikmb_repository/references/iGenomes/references/Homo_sapiens/Ensembl/GRCh37/Sequence/Bowtie2Index/genome"
			//bowtie_index = "/work_ifs/sukmb465/NXF/rescources/bowtie2/GRCh38_noalt_as/GRCh38_noalt_as"
			bowtie_index = "/work_ifs/sukmb276/Metagenomes/reference_data/host_contam/GCF_000001405.39/bowtie2_index/GCF_000001405.39"

		}
		'mouse' {
			bowtie_index = "/work_ifs/ikmb_repository/references/iGenomes/references/Mus_musculus/Ensembl/GRCm38/Sequence/Bowtie2Index/genome"
		}
		'chimp' {
			bowtie_index = "/work_ifs/ikmb_repository/references/iGenomes/references/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/Bowtie2Index/genome"
		}
	}
}

// Resource manager settings

executor {
  name="slurm"
  queueSize=50
}

// Process setting

process {

  // Global cluster parameters
  executor = 'slurm'
  queue = 'all'

}

singularity {
	enabled = true
	runOptions = "-B /work_ifs -B /scratch"
	cacheDir = "${baseDir}/cache"
}
/*
params {
  // Defaults only, expecting to be overwritten
  max_memory = 250.GB
  max_cpus = 20
  max_time = 240.h
  maxMultiqcEmailFileSize = 25.MB
}
*/
